<div style="margin:0 auto;width:80%;padding-top:30px">

	<div class="row">
		<div ng-dropdown-multiselect="" options="example1data" selected-model="example1model" style="display:inline-block"></div>	

		<div class="input-group changethisone" style="width:220px;color:black;float:right">
			<input type="text"  class="form-control" placeholder="quick search"/>
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-search"></i>
			</span>
		</div>
	</div>
	
	<div class="row" style="position:relative">
		<img src="/images/map-dummy.jpg" style="width:100%;position:absolute;">
		
		<!-- point to any position -->
		<div style="position:absolute;left:80px;top:20px;" drag-me>
			<div class="radius-blue" style="vertical-align:middle; display: table-cell" >
				<span class="military bomber" style="opacity: 1.0" ng-click="toggleBomber()"></span>
			</div>
		</div>
		
		<div style="position:absolute;left:0px;top:100px;" drag-me>
			<div class="radius-red" style="vertical-align:middle; display: table-cell" >
				<span class="military submarine" style="opacity: 1.0" ng-click="toggleBomber()"></span>
			</div>
		</div>
	</div>
	<div style="position:relative;left:380px;top:20px;width: 240px;height:300px;background-color: rgba(230, 230, 230, 0.9);"  drag-me>
		<span>Palette</span>
		<div></div>
	</div>
	
</div>

<script>
	var cTemplates = {
				div: $('<div class="layerPanel"></div>'),
		        table  : $('<table class="customTable" width="100%"></table>'),
		        colHeader : $('<td colspan="6" class="summary-header"></td>'),
		        row : $('<tr></tr>'),
		        data : $('<td></td>'),
		        dataBlank : $('<td>&nbsp;</td>'),
		        emptyLine : $('<tr><td colspan="6">&nbsp;</td></tr>'),
			};

	function buildLayer(){
		var div = cTemplates.div.clone(),
			tableLayer = cTemplates.table.clone(),
			layerHeader = cTemplates.colHeader.clone()
		;
		div.text('Please select a valid schedule.');
		
		layerHeader.text("Elkana");
		layerHeader.appendTo(tableLayer);
		
		tableLayer.appendTo(div);
		$('#popupFare').html(div);
	}

</script>	